In [ ]:
#operators and list methods assignment questions=>

'''Q.1=What does the + operator do when used with two lists?
ans= + operator use when we are required to add one or more string
'''
print('jaipur is a '+'pink city')

jaipur is a pink city

In [ ]:
'''Q.2=How can you find the length of a tuple?
ans= by using len() function '''
tuple=(1,2,3,4)
len(tuple)

4

In [ ]:
'''Q.4=How do you add an element to the end of a list?
ans= by using append'''
li=[0,2,4,6]
li.append(8)
print(li)

[0, 2, 4, 6, 8]

In [ ]:
'''Q.3=What does the * operator do when used with a list?
ans=for list multiplication'''
li=li*2
print(li)

[0, 2, 4, 6, 8, 0, 2, 4, 6, 8]

In [ ]:
'''Q.5=What method can you use to remove an element from a list by its value?
ans='''
li.remove(8)
print(li)

[0, 2, 4, 6, 0, 2, 4, 6, 8]

In [ ]:
'''Q.6=How do you access the third element of a tuple?'''
tup=(5,10,15,25)
print(tup[2])

15

In [ ]:
'''Q.7=What method can you use to sort a list in ascending order?
ans='''
li.sort()
print(li)

[0, 0, 2, 2, 4, 4, 6, 6, 8]

In [ ]:
'''Q.8=How can you check if a specific item exists in a tuple?
ans='''
print(2 in li)

True

In [ ]:
'''Q.9=What method would you use to remove all occurrences of a specific item from a list?
ans='''
li.clear()
print(li)

[]

In [ ]:
'''Q.10=How can you concatenate two tuples?'''
tup1=(1,2,3)
tup2=(4,5,6)
tup3=tup1+tup2
print(tup3)

(1, 2, 3, 4, 5, 6)

In [ ]:
'''Q.11=What method can you use to get the index of a specific item in a list?
'''
li=[4,8,12,True,'hello']
li.index(True)

3

In [ ]:
'''Q.12=How do you create a tuple with a single element?'''
tup4=(1,)
print(tup4)

(1,)

In [ ]:
'''Q.13=How can you reverse the elements of a list?'''
li.reverse()
print(li)

['hello', True, 12, 8, 4]

In [ ]:
'''Q.14=What does the in operator do when used with a list or tuple?
ans= check whether this element exists in this list or not'''
print(12 in li)

True

In [ ]:
'''Q.15=How do you find the number of occurrences of a specific element in a list?
ans= by using count'''
li.count(4)

1

In [ ]:
'''Q.16=How can you slice a list to get the first three elements?
ans='''
list2=(5,6,7,8,9)
list2[0:3:1]

(5, 6, 7)

In [ ]:
#Q.17=What is the difference between the append and extend methods for a list?
#ans=append is used to add a single element at the end of the list
#extend is used to add multiple items or a new list to the existing list.

'Q.17=What is the difference between the append and extend methods for a list?\nans=append is used to add a single element at the end of the list\nextend is used to add multiple items or a new list to the\xa0existing\xa0list.'

In [ ]:
'''Q.18=How can you create a list of tuples where each tuple contains two elements?
ans='''
tup5=(1,2)
tup6=(3,4)
tup7=(8,9)
list3=[tup5,tup6,tup7]
print(list3)

[(1, 2), (3, 4), (8, 9)]

In [ ]:
#Q.19=What method can you use to remove an element from a tuple (since tuples are immutable)?
#ans=you cannot change,add,or remove elements in tuple,but you can perform other operations that do not modify the original tuple

In [ ]:
'''Q.20=How do you join a list of strings into a single string with spaces in between?'''
lis1=['mahak']
lis2=['pooja']
lis3=['mohit']
lis4=[lis1+lis2+lis3]
print(lis4)

[['mahak', 'pooja', 'mohit']]

In [ ]:
#if-else conditions

In [ ]:
'''Q.1=What is the syntax for an if statement in Python?
ans=
if(condition):
  #code_to_run
elif(condition):
  #code_to_run
else:
  #code_to_run
  '''

In [ ]:
'''Q.2=How do you write an if-else statement to check if a number is positive or negative?'''
a=2
if(a>0):
  print('positive number')
elif(a<0):
  print('negative number')
else:
  print('zero')

positive number

In [ ]:
'''Q.3=What is the purpose of the elif keyword?
ans=use for multiple conditions'''

In [ ]:
'''Q.4=How do you check if a variable x is between 10 and 20 (inclusive)?'''
num=int(input('enter your number'))
if('x is between 10 and 20'):
  print('true')
else:
  print('false')

enter your number15
true

In [ ]:
'''Q.5=What is the result of an if statement when the condition is False?
ans= it will move to the elif block'''

In [ ]:
'''Q.6=How can you combine multiple conditions in a single if statement using and?
'''
maths=int(input("enter your marks"))
english=int(input("enter your marks"))
science=int(input("enter your marks"))
average=maths+english+science
percent=(average/300)*100
print(percent)
if(percent>80 and percent<=100):
    print("A grade")
elif(percent>60 and percent<=80):
    print("B garde")
elif(percent>50 and percent<=60):
    print("C grade")
elif(percent>45 and percent<=50):
    print("D grade")
elif(percent>25 and percent<=45):
    print("E grade")
elif(percent<25):
    print("F garde")
else:
    print("input is not valid")

enter your marks55
enter your marks80
enter your marks70
68.33333333333333
B garde

In [ ]:
'''Q.7=What will be the output of an if-else statement if the condition is true?
ans= if the condition is true ,the if block code is executed
and if the condition is false,the else block code is executed'''

In [ ]:
'''Q.8=How do you use the or operator to check if at least one of two conditions is true?'''
num=int(input('enter a number'))
if(num%2==0 or num%3==0):
  print('true')
else:
  print('false')

enter a number5
false

In [ ]:
'''Q.9=What is the difference between == and is in conditional statements?
ans=
(==)indicates equal sign
(is)indicate location'''

In [ ]:
'''Q.10=How can you check if a string s is empty?'''
s=''
bool(s)
#false means string is empty

False

In [ ]:
'''Q.11=What is the result of the following condition: if not (x>10)?'''
x=2
if(not x>10):
  print('x>10')
else:
  print('10 is greater than x')

x>10

In [ ]:
'''Q.12=How do you write a conditional statement to execute code only if a number is even?'''
num=int(input('enter a number:'))
if(num%2==0):
    print('even')
else:
  print('odd')

enter a number:5
odd

In [ ]:
'''Q.13=How can you use an if statement to determine if a list is empty?'''
li=[]
if(len(li)==0):
  print('empty')
else:
  print('not')

empty

In [ ]:
'''Q.14=What does the pass statement do in an if block?
ans=nothing is printed but you avoid getting an error when empty code is not
allowed. Empty code is not allowed in loops, function definitions, class
definitions,
 or in if statements.'''

In [ ]:
'''Q.15=How can you nest if statements inside each other?'''
num=int(input('enter a number:'))
if not (num>10):
    num=int(input('enter a number:'))
    if(num%2==0):
        print("even")
    else:
        print("odd")
elif(num>10):
    print('10 is greater than num')
else:
    print("input is not valid")

enter a number:3
enter a number:4
even

In [ ]:
'''Q.16=What will be the result if no conditions in an if-elif-else chain are met?
ans= in this case,the program will not execute'''

In [ ]:
'''Q.17=How do you check if a number is divisible by both 3 and 5 using an if statement?'''
num=int(input('enter a number'))
if(num%3==0 and num%5==0):
  print('divisible by both')
else:
  print('not match')

enter a number2
not match

In [ ]:
'''Q.18=What is the result of the following if statement: if x > 5: print("x is large") else: print("x is small")
where x is 3?'''
x=int(input('enter a number'))
if(x>5):
  print("x is large")
elif(x==3):
  print("x is 3")
else:
  print("x is small")

enter a number5
x is small